@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
* {
  font-family: 'Share', cursive;
  list-style-type: none;
}
body {
  text-align: center;
  background-color: rgb(214, 252, 195);
}
.navPadding {
  padding: 1em;
}

.title {
  font-size: 45px;
}

.icon {
  margin: -15px;
}

.link {
  padding-right: 1em;
  padding-left: 1em;
}

p {
  margin-top: 20px;
  font-size: 30px;
}
input {
  text-align: center;
}
.mssg {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.menu {
  color: blue;
}
.greet {
  font-family: 'Share', cursive;
  font-size: 30px;
  margin: auto;
}

.one {
  color: #06c2d7;
}

.two {
  color: #b524f9;
}

.three {
  color: #1ca044;
}

.words {
  font-family: 'Share', cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  left: 0;
  margin-bottom: 100;
  margin-top: 20px;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  padding-top: 90px;
}

.words:nth-of-type(1) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}

.words:nth-of-type(2) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 1.75s;
}

.words:nth-of-type(3) {
  animation-name: rotate-last;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  20%,
  80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
}

@keyframes rotate-last {
  0% {
    opacity: 0;
    transfrom: translate 3d (0, 50px 0);
  }
  50%,
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.abc {
  font-size: 22px;
}
